<div class="container">
    <form action="" class="reset_password_wrapper">
        <input type="email" name="reset_password_input" placeholder="Your email" required>
        <button type="submit">Send</button>
    </form>
    <span>To reset password, please confirm letter after send in your mail box</span>
</div>