<div class="search_container">
    {{> clouds}}
    <div class="find_container">
        <div class="title_container">
            <div class="title_wrap">
                <span>Let`s find some people</span>
                <hr class="title_under_line"></hr>
            </div>
        </div>
        <div class="input_container">
            <input type="text" class="find_input" placeholder="Enter full name" name="search_input" required>
                <form class="search_form" method="GET">
                    <button class="find_button" type="submit">
                        <img src="./search.png" alt="">
                    </button>
                </form>
        </div>
    </div>
</div>
<script src="/search.js"></script>