.reset_password_wrapper {
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.container {
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.reset_password_wrapper input {
    width: 360px;
    height: 100%;
    padding-left: 10px;
    outline: none;
    border: none;
    border-bottom: 2px solid #4A5EA7;
    font-size: 20px;
    margin-right: 20px;
}
.reset_password_wrapper button {
    width: 120px;
    height: 100%;
    background: #4A5EA7;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}