.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
body {
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
