{{#if isAuth}}
<div class="clouds">
  <div class="clouds_wrapper">
    <img src="./cloud.png" alt=""/>
    <img src="./cloud.png" alt="" />
    <img src="./cloud.png" alt="" />
    <img src="./cloud.png" alt="" />
    <img src="./cloud.png" alt="" />
  </div>
  <a href="/user"><div class="sun"></div></a>
</div>
{{ else }}
<div class="clouds">
  <div class="clouds_wrapper">
    <img src="./cloud.png" alt="" />
    <img src="./cloud.png" alt="" />
    <img src="./cloud.png" alt="" />
    <img src="./cloud.png" alt="" />
    <img src="./cloud.png" alt="" />
  </div>
  <div class="sun"></div>
</div>
{{/if}}