<div class="post">
  <div class="post_text">
    <h2 class="post_title">text title</h2>
    jxcnfsnjkdfnskjdfnsjdnf dfsdklfks dsfjfskl dksdfksdf sdfsmkdkfsd sdlkfsdk
    dslfsdm dfksdlfs kopdkfs sdfsl
  </div>
  <div class="post_bottom">
    <div class="like">
      <img src="./like.png" alt="" />
      <span class="like_counter">54</span>
    </div>
    <div class="line_wrapper">
      <div class="line_one"> </div>
      <div class="line_two"> </div>
    </div>
    <img src="./more.png" alt="" class="more_button" />
  </div>
</div>